.alert {
  position:fixed;
  display:none;

}

.alert-reveal{

  position:fixed;
  display:block;
  
  border: 4px solid blue;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  color:rgb(0, 247, 255);




}




/* Panel formatting */

.main-panel{

  display: flex;
  flex-direction:column;
  justify-content:space-evenly;

}



.panel{

  
  border-radius:30px;
  margin: 20px 15px;
  padding:40px 20px;
  padding-bottom:20px;
  box-shadow: 0px 0px 7px 5px lightgrey;
  height:30%;
  

}

.panel-page-title{

  padding-top:5px;
  padding-bottom:5px;
  border-radius:18px;
  background-color:blue;
  color:rgb(0, 247, 255);


  
}

.panel-head{

  display:flex;
  justify-content:space-between;
  width:100%;
  
  
}

.panel-title{

  flex:2;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right:10px;


}



.panel-display-name{

  flex:1;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;



}

.panel-line{

  background-color:blue;
  height:5px;


}


.panel-main{

  font-size: 18px;
  

}



.panel-description{

  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;


}


.panel-button-group{

  display: flex;
  justify-content:space-evenly;
  margin-top:30px;

}


.panel-button{

  background-color: blue;
  color:rgb(0, 247, 255);
  box-shadow: 0px 0px 7px 5px lightgrey;
  border-radius:18px;
  margin-bottom:10px;
  width:100px


}


.panel-printed-texts{

  overflow:scroll;
  height:100px;



}


.labels{


  font-weight: bold;



}







/* search page */


.panel-search{

  display: flex;
  flex-direction: column;
  font-size: 25px;

}


/* Each page */



.panel-encounter-image{

  margin:20px;

}





.tags{

  font-size: 15px;
  margin-bottom:0px;
  text-align: center;
  box-sizing: border-box;
  

}